:host {
    height: 48px;
    display: flex;
    background: var(--youtube-red);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px var(--spacing-4) var(--spacing-2) #888888;

    img {
        height: 48px;
        position: absolute;
        top: 0;
        left: 0;
    }

    form {
        margin: 0 calc(-1 * var(--spacing-4));

        input {
            margin: 0 var(--spacing-4);
        }
    }
}